go 1.24

toolchain go1.24.4

use (
	./cmd/front

	./internal/app
	./internal/app/msgqueue
	./internal/grpcipc
	./internal/infra
	./testbench/coprocess
	./testbench/etcd
	./testbench/rabbitmq
	./testbench/registrator
	./testbench/prometheus
	./testbench/seaweedfs
)
