go 1.24

toolchain go1.24.4

use (
	./internal/app
	./internal/grpcipc
	./internal/infra
	./internal/msgqueue
	./internal/storage
	./testbench/coprocess
	./testbench/rabbitmq
	./testbench/seaweedfs
	./testbench/registrator
)
