global
    log stdout format raw local7

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

listen http-in
    bind *:8080
    server a1 a1:8080 maxconn 1000
    server a2 a2:8080 maxconn 1000
